body {
  background: rgb(45, 45, 45);
  background: linear-gradient(
    152deg,
    rgba(45, 45, 45, 1) 0%,
    rgba(26, 26, 26, 1) 26%,
    rgba(19, 19, 19, 1) 60%,
    rgba(0, 0, 0, 1) 74%
  );
  font-family: "Montserrat", sans-serif;
  color: rgb(240, 240, 240);
}

h2 {
  font-weight: 700;
  font-size: 1.3rem;
  max-width: 260px;
}

.red-bord {
  border: solid 1px red;
}

div.song p {
  margin: 0px;
}

.cover {
  height: 260px;
  width: 260px;
}

.content-page {
  height: 224px;
  overflow: auto;
  height: 100vh;
  width: 100%;
}

.px-45 {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

body > div > div > div > div.col-12.col-md-8 > div:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    152deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.06) 0%
  );
}

body > div > div > div > div.col-12.col-md-8 > div {
  cursor: pointer;
}

.max-height {
  max-height: 45px;
  overflow-wrap: break-word;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(94, 94, 94);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
}

/* navbar css */
.vertical_navbar {
  background-color: black;

  /* position: absolute;
  left: 0%; */
  /* min-width: 250px; */
  /* transform: translateX(-100%); */
  /* transition: all 1s ease; */
}
a {
  color: rgb(211, 211, 211);
}
.bottom_navbar {
  background-color: black;
  position: fixed;
  bottom: 0;
}

.lower_icons {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style-type: none;
}

/*
list-style: none // default is disc
ul padding to 0
*/
a:hover {
  color: white;
}
/* hr {
	/* height: 2px; */
/* border-bottom: 2px solid white; */
/* } */
div.try:after {
  content: "";
  position: absolute;
  background-color: grey;
  left: 8%;
  width: 15vw;
  height: 1px;
  bottom: 2rem;
  /*left: 30%; */
}
#related img {
  height: 150px !important;
  width: 150px !important;
}
